*{
    padding: 0;
    margin: 0;
}
#header{
    background-color: tomato;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#main-nav-bar{
    line-height: 40px;
    background-color: #3d3d3d;
    height: 500px;
    width: 150px;
    float: left;
    text-align: center;
}
#nav-ul{
    margin: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}
#section{
    background-color: aqua;
    text-align: center;
}
#footer{
    background-color: bisque;
    padding-bottom: 20px;
    color: #3d3d3d;
    font-weight: bold;
    text-align: center;
    clear: both;
}